body{
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab); */
    background-image: url("Math-640x315_September_2018.jpg" )   ;
    background-repeat: no-repeat;
    animation: 12s ease-in-out infinite;
 }
 @keyframes color {
     0%{
 background-position : 0 50% ;
     }
     50%{
         background-position : 100% 50% ;
             }
             100%{
                 background-position : 0 50% ;
                     }
    }
.box{
    background-color: aliceblue;
    height: 300px;
    width: 270px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 40%;
}
.display{
    background-color: black;
    width: 220px;
    position: relative;
    left: 15px;
    top: 20px;
    height: 40px;
}
.display input{
    position: relative;
    left: 2px;
    top: 2px;
    height: 35px;
    color: black;
    background-color: lightgray;
    font-size: 21px;
    text-align: right;
}
.keys{
    position: relative;
    top: 15px;
}
.button{
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-left: 17px;
    cursor: pointer;
    border-top: 2px solid transparent;
}
.button.grey{
    color: black;
    background-color: #6f6f6f;
    border-bottom: black 2px solid;
    border-bottom: 2px #6f6f6f solid;
}
.title:hover{
    color: #fff;
}
.title{
    font-family: "Times New Roman", Times, serif;
position: sticky;
    text-align: center;
   color: white;
   margin: 2px;
   border: 10px solid transparent;
   padding: 15px;
   border-image: url(border.png) 30 round;
  

}
.title:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000; }
.button.pink{
    color: black;
    background-color: bisque;
    border-bottom: black 2px solid;
    border-top: 2px bisque solid;
    font-weight: bold;
}
.button.orange{
    color: black;
    background-color: #FF9933;
    border-bottom: black 2px solid;
    border-top: 2px #ff9933 solid;
}
.grey:active{
    border-top: black 2px solid;
    border-bottom: 2px #6f6f6f solid;
}
.pink:active{
    border-top: black 2px solid;
    border-bottom: #ff4561 2px solid;
}
.black:active{
    border-top: black 2px solid;
    border-bottom: #303030 2px solid;
}
.orange:active{
    border-top: black 2px solid;
    border-bottom: #ff9933 2px solid;
}
p{
    line-height: 10px;
}
.foot{
    background-color: #23d5ab;
}